<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Marc Kluge, 386440">
    <meta name="author" content="Robin Theissen, 386279">
    <meta name="author" content="Kirill Baskal, 375173">
    <title>Banking-Manager</title>
</head>
<body>
<div class="navigation">
    <nav>
        <a href="./"> Startseite </a>
    <!-- if statement removes login and register hyperlink if a user is logged in -->
    {% if session == {} %}
        <a href="./login"> Login </a>
        <a href="./register"> Registrieren </a>
    {% endif %}
    <!-- if statement enables logout page in navbar if user is logged in -->
    {% if session != {} %}
        <a id="accountClick" href="./accounts"> Kontoübersicht </a>
        <a href="./transaction"> Neue Transaktionen </a>
        <a href="./create_account"> Konto anlegen </a>
        <a href="./logout"> Logout </a>
        <a href="./categories"> Kategorien</a>
    {% endif %}
    </nav>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>