body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navigation {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: auto;
    top: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 5);
}

nav {
    display: flex;
}

nav a,
input[type="submit"],
input[type="button"] {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    background-color: #555
}

button{
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    background-color: #555
}

nav a:hover{
    background-color: rgba(255, 255, 0, 0.63);
}

/* Klasse für aktive Seiten */
nav a.active{
    font-weight: bold;
    color: black;
    background-color:   yellow;
}

input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: rgba(85, 85, 85, 0.65)
}

button:hover{
    background-color: rgba(85, 85, 85, 0.65)
}

.content {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%; /* Optional: Begrenze die maximale Breite des Inhalts */
}