/* Robin Theissen */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

th, td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#transactionTable tr:nth-child(odd) {
    background-color: #9393a2;
}

#transactionTable tr:nth-child(even) {
    background-color: #e1dddd;
}
