{% extends "vorlagen/main.html" %}

{% block content %}
    <h1>Letzte Transaktionen</h1>
    {% if initial %}
        {% set limit=5 %}
        {% set initial = False %}
    {% else  %}
        {% set limit=15 %}
    {% endif %}

    <br>

    <form action="/accounts" method="post">
    <label for="accountSelect">Konto auswählen </label>
    <select id="accountSelect" name="accountSelect" style="display: inline-block">
        <option value="" selected>Alle</option>
        {% for account in accounts %}
            <option value="{{ account[0] }}">{{ account[1] }}</option>
        {% endfor %}
    </select>
</form>

    <br>

    <style>
        /* Ungerade Zeilen */
        #transactionTable tr:nth-child(odd) {
            background-color: #9393a2;  /* Farbe für ungerade Zeilen */
        }

        /* Gerade Zeilen */
        #transactionTable tr:nth-child(even) {
            background-color: #e1dddd;  /* Farbe für gerade Zeilen */
        }
    </style>
    <script>
        let limit = {{ limit }}
        let selectedAccountId;

        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('increase15').addEventListener('click', function() {
                limit += 15;
                updateTable();
            });

            document.getElementById('show_all').addEventListener('click', function() {
                limit = 10000;
                updateTable();
            });

            document.getElementById('accountSelect').addEventListener('change', function() {
                limit = 15
                selectedAccountId = this.value;
                updateTable();
            });

            function updateTable() {
            let selectedAccountId = document.getElementById('accountSelect').value;
            if (selectedAccountId === "") {
                selectedAccountId = 'null';
            }
            fetch(`/update_table?limit=${limit}&account_id=${selectedAccountId}`)
                .then(response => response.text())
                .then(data => {
                    document.getElementById('transactionTable').innerHTML = data.replace(/\\n/g, '');
                });
            }
        });

    </script>
{%if limit is not defined %}

    <div id="transactionTable">
        <table class="center" border="1">
            <tr>
                <th>Konto</th>
                <th>Datum</th>
                <th>Empfänger</th>
                <th>Verwendungszweck</th>
                <th>Betrag</th>
                <th>Kategorie</th>
            </tr>
                {% for row in transactions %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[5] }}</td>
                </tr>
                {% endfor %}
        </table>
    </div>
{% elif limit == 15 %}
    <div id="transactionTable">
        <table class="center" border="1">
            <tr>
                <th>Konto</th>
                <th>Datum</th>
                <th>Empfänger</th>
                <th>Verwendungszweck</th>
                <th>Betrag</th>
                <th>Kategorie</th>
            </tr>
            {% for row in transactions[:15] %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[5] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% else %}
    <div id="transactionTable">
        <table class="center" border="1">
        <tr>
                <th>Konto</th>
                <th>Datum</th>
                <th>Empfänger</th>
                <th>Verwendungszweck</th>
                <th>Betrag</th>
                <th>Kategorie</th>
            </tr>
            {% for row in transactions[:limit] %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[5] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}
    <form>
        <input type="button" id="increase15" value="+ 15">
        <input type="button" id="show_all" value="Alle anzeigen">
    </form>

{% endblock %}