{% extends "vorlagen/main.html" %}

{% block content %}

    {% if initial %}
        {% set limit=5 %}
        {% set initial = False %}
    {% else  %}
        {% set limit=15 %}
    {% endif %}

    <br>

    <form action="/accounts" method="post">
    <h1>Letzte Transaktionen</h1>
    <label for="accountSelect">Konto auswählen </label>
    <select id="accountSelect" name="accountSelect" style="display: inline-block">
        <option value="" selected>Alle</option>
        {% for account in accounts %}
            <option value="{{ account[0] }}">{{ account[1] }}</option>
        {% endfor %}
    </select>
</form>

<form id="searchForm" method="POST" action="/update_table/search">
    <label for="start_date">Startdatum:</label>
    <input type="date" id="start_date" name="start_date">

    <label for="end_date">Enddatum:</label>
    <input type="date" id="end_date" name="end_date">

    <label for="recipient">Name des Empfängers:</label>
    <input type="text" id="recipient" name="recipient">


    <label for="keyword">Stichwort im Verwendungszweck:</label>
    <input type="text" id="keyword" name="keyword">

    <label for="amount">Höhe des überwiesenen Betrags:</label>
    <input type="text" id="amount" name="amount">

    <input type="submit" id="search" value="Suchen">
</form>


    <br>

    <style>
        /* Ungerade Zeilen */
        #transactionTable tr:nth-child(odd) {
            background-color: #9393a2;  /* Farbe für ungerade Zeilen */
        }

        /* Gerade Zeilen */
        #transactionTable tr:nth-child(even) {
            background-color: #e1dddd;  /* Farbe für gerade Zeilen */
        }
    </style>
    <script>
        let limit = {{ limit }}
        let selectedAccountId;

        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('increase15').addEventListener('click', function() {
                limit += 15;
                updateTable();
            });

            document.getElementById('show_all').addEventListener('click', function() {
                limit = 10000;
                updateTable();
            });

            document.getElementById('accountSelect').addEventListener('change', function() {
                limit = 15
                selectedAccountId = this.value;
                updateTable();
            });

            function updateTable() {
            let selectedAccountId = document.getElementById('accountSelect').value;
            if (selectedAccountId === "") {
                selectedAccountId = 'null';
            }

            fetch(`/update_table?limit=${limit}&account_id=${selectedAccountId}`)
                .then(response => response.text())
                .then(data => {
                    document.getElementById('transactionTable').innerHTML = data.replace(/\\n/g, '');
                    addSortingFunctionality();
                });
            }
        });

document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('searchForm').addEventListener('submit', function (event) {
        event.preventDefault(); // Verhindert das Standardverhalten des Formulars (Seitenneuladung)

        // Sammelt Formulardaten
        let formData = new FormData(this);

        // Führt einen Fetch durch, um die Serverdaten zu aktualisieren
        fetch('/update_table/search', {
            method: 'POST',
            body: formData
        })
        .then(response => response.text())
        .then(data => {
            // Aktualisiert die Tabelle mit den neuen Daten
            document.getElementById('transactionTable').innerHTML = data.replace(/\\n/g, '');
        })
        .catch(error => console.error('Error:', error));
    });
});


    </script>
{%if limit is not defined %}

    <div id="transactionTable">
        <table class="center" border="1">
            <tr>
                <th>Konto</th>
                <th>Datum</th>
                <th>Empfänger</th>
                <th>Verwendungszweck</th>
                <th>Betrag</th>
                <th>Kategorie</th>
            </tr>
                {% for row in transactions %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[5] if row[5] is not none else '' }}</td>
                </tr>
                {% endfor %}
        </table>
    </div>
{% elif limit == 15 %}
    <div id="transactionTable">
        <table class="center" border="1">
            <tr>
                <th>Konto</th>
                <th>Datum</th>
                <th>Empfänger</th>
                <th>Verwendungszweck</th>
                <th>Betrag</th>
                <th>Kategorie</th>
            </tr>
            {% for row in transactions[:15] %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[2] }}</td>
                     <td>{{ row[5] if row[5] is not none else '' }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% else %}
    <div id="transactionTable">
        <table class="center" border="1">
        <tr>
                <th>Konto</th>
                <th>Datum</th>
                <th>Empfänger</th>
                <th>Verwendungszweck</th>
                <th>Betrag</th>
                <th>Kategorie</th>
            </tr>
            {% for row in transactions[:limit] %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[5] if row[5] is not none else '' }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}
    <form>
        <input type="button" id="increase15" value="+ 15">
        <input type="button" id="show_all" value="Alle anzeigen">
    </form>

{% endblock %}