{% extends "vorlagen/main.html" %}

{% block content %}
    <!--Marc Kluge-->
<div id="categoryForm">
    <form action="/categories" method="POST">
        <h2>Neue Kategorie erstellen</h2>
        <br>
        <label for="category"></label>
        <input type="text" id="category" name="category" required>
        <button type="submit">Kategorie anlegen</button>
    </form>
    <br>
    {% if errorCategory %}
        <p class="error"> {{ errorCategory }}
    {% endif %}


    <form id=keywordForm" action="/categories" method="POST">
        <h2>Neues Schlagwort hinzufügen</h2>
        <label for="categorySelect">Kategorie:</label>
        <select id="categorySelect" name="categorySelect" required style="display: inline-block;">
            <option value="" disabled selected>Kategorie auswählen</option>
            {% for category in categories %}
                <option value="{{ category[0] }}">{{ category[1] }}</option>
            {% endfor %}
        </select>
    <br>
    <br>
    <br>
        <label for="keyword">Schlagwort:</label>
        <input type="text" id="keyword" name="keyword" required>
        <button type="submit">Schlagwort hinzufügen</button>
    </form>
</div>

    {% if errorKeyword %}
        <p class="error"> {{ errorKeyword }}
    {% endif %}

{% endblock %}