{% extends "vorlagen/main.html" %}

{% block content %}
    <h2>Neue Kategorie erstellen</h2>
    <form action="/categories" method="POST">
        <label for="category">Kategorie:</label>
        <input type="text" id="category" name="category" required>
        <button type="submit">Kategorie anlegen</button>
    </form>
    <br>

    <h2>Neues Schlagwort hinzufügen</h2>
    <form action="/categories" method="POST">
        <label for="categorySelect">Kategorie:</label>

    <select id="categorySelect" name="categorySelect" style="display: inline-block;">
        <option value="" disabled selected>Kategorie auswählen</option>

    </select>
        <label for="keyword">Schlagwort:</label>
        <input type="text" id="keyword" name="keyword">
        <button type="submit">Schlagwort hinzufügen</button>
    </form>

{% endblock %}