<table class="center" border="1">
    <tr>
        <th>Konto</th>
        <th>Datum</th>
        <th>Empfänger</th>
        <th>Verwendungszweck</th>
        <th>Betrag</th>
        <th>Kategorie</th>
    </tr>

    {% for row in transactions %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[5] if row[5] is not none else '' }}</td>
        </tr>
    {% endfor %}
</table>