{% extends "vorlagen/main.html" %}

{% block content %}
    <!--Marc Kluge-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <h1>Kontoeinträge</h1>

    <form id="date" method="POST" action="/update_chart">
        <label for="start_date">Startdatum:</label>
        <input type="date" id="start_date" name="start_date">

        <label for="end_date">Enddatum:</label>
        <input type="date" id="end_date" name="end_date">
        <input type="submit" id="search" value="Suchen">
    </form>

    <div style="margin: auto;">
        <canvas id="myPieChart" style="max-height: 400px; max-width: 400px;"></canvas>
    </div>

    <script>
        let pieChartData = {{ pie_chart_data | safe }};

        // Funktion zum Generieren von Farben
        function generateColors(count) {
            let colors = [];
            for (let i = 0; i < count; i++) {
                let color = 'rgba(' + getRandomInt(0, 255) + ',' + getRandomInt(0, 255) + ',' + getRandomInt(0, 255) + ',0.7)';
                colors.push(color);
            }
            return colors;
        }

        // Hilfsfunktion zum Generieren einer zufälligen Ganzzahl
        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }

        // Die Funktion initializePieChart erstellt das Pie Chart basierend auf den bereitgestellten Daten
        function initializePieChart(labels, values, backgroundColors) {
            let ctx = document.getElementById('myPieChart').getContext('2d');

            // Überprüfe, ob backgroundColors vorhanden und ein Array ist
            if (backgroundColors && Array.isArray(backgroundColors)) {
                let myPieChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: labels,
                        datasets: [{
                            data: values,
                            backgroundColor: backgroundColors,
                            borderColor: backgroundColors.map(color => color.replace('0.7', '1')),
                            borderWidth: 1
                        }]
                    }
                });
            } else {
                // Verwende Standardfarben, wenn backgroundColors nicht korrekt ist
                let defaultColors = [
                    'rgba(255, 99, 132, 0.7)',
                    'rgba(54, 162, 235, 0.7)',
                    'rgba(255, 206, 86, 0.7)',
                    'rgba(75, 192, 192, 0.7)',
                    'rgba(153, 102, 255, 0.7)'
                ];

                let remainingColors = generateColors(Math.max(0, labels.length - defaultColors.length));

                backgroundColors = defaultColors.concat(remainingColors);

                let myPieChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: labels,
                        datasets: [{
                            data: values,
                            backgroundColor: backgroundColors,
                            borderColor: backgroundColors.map(color => color.replace('0.7', '1')),
                            borderWidth: 1
                        }]
                    }
                });
            }
        }

        // Initialisiere das Pie Chart beim Laden der Seite
        initializePieChart(pieChartData.labels, pieChartData.values, pieChartData.backgroundColors);
    </script>

{% endblock %}
